@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    height: 100vh;
    overflow: auto;
}

body{
    /* background: rgba(0, 0, 0, .65) url('assets/img/bg-city.webp'); */
    background-blend-mode: darken;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100vh; */
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}